<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>Login Admin</title>
</head>
<body>
  <div class = "container">
    <center>
    <h1>Welcome</h1>
    <a href="/admin/register"><button type="button" class="btn btn-success">Register</button></a> <br />
      <br />
      <%if(err !== null){%>
        <div class="alert alert-danger">
          <strong>Error!</strong> <%=err%>
        </div>
        <%}%> 
    <form action="/admin" method="POST">
        <input type="email" placeholder="Email" name="email"><br>
        <input type="password" placeholder="Password" name="password"><br>
        <button>Login</button>
    </form>
    <br />
    
  </center>
  </div>
</body>
<center>
    
</center>
