<!DOCTYPE html>
<html lang="en">
    <% include ../partials/header_admin%>
  <title>Login Admin</title>
</head>
<body>
  <div class = "container">
    <center>
    <h1>Welcome</h1>
      <br />
      <%if(err !== null){%>
        <div class="alert alert-danger">
          <strong>Error!</strong> <%=err%>
        </div>
        <%}%> 
    <form action="/admin" method="POST">
        <input type="email" placeholder="Email" name="email"><br>
        <input type="password" placeholder="Password" name="password"><br>
        <button>Login</button>
    </form>
    <br />
    
  </center>
  </div>
</body>
<center>
    
</center>
