<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>Admin</title>
</head>
<body>
  <div class = "container">
    <center>
    <h1>Register new Admin</h1>
        <form action="/admin/register" method="POST">
            <input type="text" placeholder="First Name" name="first_name"><br>
            <input type="text" placeholder="Last Name" name="last_name"><br>
            <input type="email" placeholder="Email" name="email"><br>
            <input type="password" placeholder="Password" name="password"><br>
            <input type="text" placeholder="Phone" name="phone"><br>
            <textarea placeholder="Address"  name="address"></textarea><br>
            <button>Register</button>
        </form>
    
  </center>
  </div>
</body>
</html>

