<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>Admin</title>
</head>
<body>
  <div class = "container">
    <center>
    <h1>Welcome to Admin page</h1>
    <a href = "/admin/products"><button type="button" class="btn btn-primary">List Product</button></a>
  </center>
  </div>
</body>
</html>