<nav class="navbar navbar-ligth">
                <span class="navbar-brand">Category</span>
                <div class="navbar-nav">
                  <form class="navbar-form navbar-left" action="/category" method="GET">
                    <div class="form-group">
                      <input type="hidden" class="form-control" name="category" value="art">
                    </div>
                    <button type="submit" class="btn btn-default">Art</button>
                  </form>
                  <form class="navbar-form navbar-left" action="/category" method="GET">
                    <div class="form-group">
                      <input type="hidden" class="form-control" name="category" value="ceramic">
                    </div>
                    <button type="submit" class="btn btn-default">Ceramic</button>
                  </form>
                  <form class="navbar-form navbar-left" action="/category" method="GET">
                    <div class="form-group">
                      <input type="hidden" class="form-control" name="category" value="wood">
                    </div>
                    <button type="submit" class="btn btn-default">Wood</button>
                  </form>
                  <form class="navbar-form navbar-left" action="/category" method="GET">
                    <div class="form-group">
                      <input type="hidden" class="form-control" name="category" value="electronic">
                    </div>
                    <button type="submit" class="btn btn-default">Electronic</button>
                  </form>
                  <form class="navbar-form navbar-left" action="/category" method="GET">
                    <div class="form-group">
                      <input type="hidden" class="form-control" name="category" value="silver">
                    </div>
                    <button type="submit" class="btn btn-default">Silver</button>
                  </form>
                </div>
              </nav>
              
              