<%include ./partials/header%>
<div class="container">
    <table class="table table-stripped">
            <thead>
                <th>Name</th>
                <th>Price</th>
                <th>Detail</th>
            </thead>
            <thead>
                <%product.forEach(data=>{%>
                    <tr>
                        <td><%=data.name%></td>
                        <td><%=data.price%></td>
                        <td>
                            <a href="users/detailProduct/<%=data.id%>"><button class="btn btn-success">lihat detail</button></a>
                        </td>
                    </tr>
                <%})%>
            </thead>
    </table>
</div>
