<%include ../partials/header%>
<div class="container">
    <table class="table table-stripped">
        <thead>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Description</th>
            <th>Buy</th>
        </thead>
        <thead>
            <tr>
                <td><%=product.name%></td>
                <td><%=product.price%></td>
                <td><%=product.stock%></td>
                <td><%=product.description%></td>
                <td>
                    <form action="/users/buyProduct/:id" method="POST">
                        <input type="number" placeholder="quantity" name="">
                        <button>buy</button>
                    </form>
                </td>
            </tr>
        </thead>
    </table>
</div>