<%include ../partials/header%>
<center>
    <form action="/login" method="POST">
        <%if(err !== null){%>
            <div class="alert alert-danger">
              <strong>!</strong> <%=err%>
            </div>
            <%}%> 
        <input type="email" placeholder="Email" name="email"><br>
        <input type="password" placeholder="Password" name="password"><br>
        <button>Login</button>
    </form>
</center>
